@charset "UTF-8";
* {
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

.clearfix:after {
    display: table;
    clear: both
}

*,
body {
    -webkit-font-smoothing: antialiased;
	 box-sizing: border-box;
}
body { 
	max-width: 100%;
	overflow: hidden;
    background: #fff;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    font-family: 'Roboto', sans-serif !important;
}
.page-wrapper { 
    display: none;
}
.visible { 
    display: block;
}
#loader:after,
#loader:before {
    position: absolute;
    content: ""
}

#loader:after,
#loader:before,
.clearfix:after,
.nav-dots span.nav-dot-current:after {
    content: ""
}


.home-slider .sl-slide h2,
.nav-dots,
.sl-slide-inner,
h5,
p {
    text-align: center
}

.button,
.button a,
a {
    text-decoration: none
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@-webkit-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown
}

@-webkit-keyframes fadeOutDownBig {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0)
    }
}

@keyframes fadeOutDownBig {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0)
    }
}

.fadeOutDownBig {
    -webkit-animation-name: fadeOutDownBig;
    animation-name: fadeOutDownBig
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft
}

@-webkit-keyframes fadeOutLeftBig {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0)
    }
}

@keyframes fadeOutLeftBig {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0)
    }
}

.fadeOutLeftBig {
    -webkit-animation-name: fadeOutLeftBig;
    animation-name: fadeOutLeftBig
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight
}

@-webkit-keyframes fadeOutRightBig {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0)
    }
}

@keyframes fadeOutRightBig {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0)
    }
}

.fadeOutRightBig {
    -webkit-animation-name: fadeOutRightBig;
    animation-name: fadeOutRightBig
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp
}

@-webkit-keyframes fadeOutUpBig {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }
}

@keyframes fadeOutUpBig {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }
}

.fadeOutUpBig {
    -webkit-animation-name: fadeOutUpBig;
    animation-name: fadeOutUpBig
}



.home-slider {
    margin: 0 auto;
    width: 100%
}
.container {
    width: 100%;
    position: relative
}

.container.home-slider {
    height: 100%;
    position: absolute
}

.clr {
    clear: both;
    padding: 0;
    height: 0;
    margin: 0
}

.home-slider {
    position: absolute;
    z-index: 2000;
    top: 30px;
    left: 30px
}

a {
    display: inline-block;
    margin: 10px;
    color: #333;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent
}

a.current-demo,
a.current-demo:hover {
    color: #aaa;
    border-color: #aaa
}

section {
    height: 100%
}

.left-half,
.right-half {
    display: flex;
    flex-direction: column;
    justify-content: center
}

h5 {
    font-size: 24px;
    line-height: 29px;
    color: #f06b22;
    font-weight: 500;
    margin-bottom: 15px
}

p {
    font-size: 14px;
    line-height: 27px;
    color: #fff;
    font-weight: 400;
    margin: 0
}

img.logo {
    width: 260px;
    height: 90px
}

.home-slider .sl-slider-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.nav-arrows span {
    position: absolute;
    z-index: 2000;
    top: 50%;
    width: 40px;
    height: 40px;
    border: 8px solid #ddd;
    border: 8px solid rgba(150, 150, 150, .4);
    text-indent: -90000px;
    margin-top: -40px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.nav-arrows span:hover {
    border-color: rgba(150, 150, 150, .9)
}

.nav-arrows span.nav-arrow-prev {
    left: 5%;
    border-right: none;
    border-top: none
}

.nav-arrows span.nav-arrow-next {
    right: 5%;
    border-left: none;
    border-bottom: none
}

.nav-dots {
    position: absolute;
    bottom: 2%;
    height: 30px;
    width: 100%;
    left: 0;
    z-index: 1000
}

.nav-dots span {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 3px;
    background: #ddd;
    background: rgba(150, 150, 150, .4);
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .4), inset 0 1px 1px rgba(0, 0, 0, .1)
}

.nav-dots span.nav-dot-current:after {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .8)
}

.home-slider .sl-slide h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 5px 0!important;
    color: #f06b22;
    position: relative;
    z-index: 14;
    text-transform: uppercase
}

.home-slider .sl-slide h2 span {
    color: #f06b22
}

.home-slider .sl-slide blockquote {
    width: 90%;
    z-index: 2;
    margin: 50px auto;
    padding: 0;
    position: relative
}

.home-slider .sl-slide blockquote p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #eee
}

.home-slider .sl-slide blockquote p:before {
    color: #f0f0f0;
    color: rgba(244, 244, 244, .65);
    font-family: "Bookman Old Style", Bookman, Garamond, serif;
    position: absolute;
    line-height: 60px;
    width: 75px;
    height: 75px;
    font-size: 200px;
    z-index: -1;
    left: -65px;
    top: 20px;
    content: '\201C';
}

.sl-slide-inner {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.sl-slide-inner .message_content small {
    font-size: 18px;
    color: #fff;
    margin: 10px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    letter-spacing: 1px
}

.home-slider .bg-1 .sl-content-slice,
.home-slider .bg-1 .sl-slide-inner {
    background: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-slider .bg-1 blockquote,
.home-slider .bg-1 h2 {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3)
}

.home-slider .bg-1 blockquote p:before {
    color: #f06b22
}

.home-slider .bg-2 .sl-content-slice,
.home-slider .bg-2 .sl-slide-inner {
    background: url(../images/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-slider .bg-2 blockquote,
.home-slider .bg-2 h2 {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3)
}

.home-slider .bg-2 blockquote p:before {
    color: rgba(255, 255, 255, .4)
}

.home-slider .bg-3 .sl-content-slice,
.home-slider .bg-3 .sl-slide-inner {
    background: url(../images/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-slider .bg-3 blockquote,
.home-slider .bg-3 h2 {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3)
}

.home-slider .bg-3 blockquote p:before {
    color: #c46c96
}

.home-slider .bg-4 .sl-content-slice,
.home-slider .bg-4 .sl-slide-inner {
    background: url(../images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-slider .bg-4 .deco {
    border-color: #379eaa
}

.home-slider .bg-4 [data-icon]:after {
    text-shadow: 0 0 1px #277d87;
    color: #277d87
}

.home-slider .bg-4 blockquote,
.home-slider .bg-4 h2 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

.home-slider .bg-4 blockquote p:before {
    color: #379eaa
}

.home-slider .bg-5 .sl-content-slice,
.home-slider .bg-5 .sl-slide-inner {
    background: url(../images/5.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-slider .bg-5 .deco {
    border-color: #ECD82C
}

.home-slider .bg-5 blockquote p,
.home-slider .bg-5 h2,
.home-slider .bg-5 small {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.home-slider .bg-5 blockquote p:before {
    color: #ecd82c;
}


.sl-trans-elems h2 {
    -webkit-animation: moveUp 1s ease-in-out both;
    -moz-animation: moveUp 1s ease-in-out both;
    -o-animation: moveUp 1s ease-in-out both;
    -ms-animation: moveUp 1s ease-in-out both;
    animation: moveUp 1s ease-in-out both
}

.sl-trans-elems blockquote {
    -webkit-animation: fadeIn .5s linear .5s both;
    -moz-animation: fadeIn .5s linear .5s both;
    -o-animation: fadeIn .5s linear .5s both;
    -ms-animation: fadeIn .5s linear .5s both;
    animation: fadeIn .5s linear .5s both
}

.sl-trans-back-elems .deco {
    -webkit-animation: scaleDown 1s ease-in-out both;
    -moz-animation: scaleDown 1s ease-in-out both;
    -o-animation: scaleDown 1s ease-in-out both;
    -ms-animation: scaleDown 1s ease-in-out both;
    animation: scaleDown 1s ease-in-out both
}

.sl-trans-back-elems h2 {
    -webkit-animation: fadeOut 1s ease-in-out both;
    -moz-animation: fadeOut 1s ease-in-out both;
    -o-animation: fadeOut 1s ease-in-out both;
    -ms-animation: fadeOut 1s ease-in-out both;
    animation: fadeOut 1s ease-in-out both
}

.sl-trans-back-elems blockquote {
    -webkit-animation: fadeOut 1s linear both;
    -moz-animation: fadeOut 1s linear both;
    -o-animation: fadeOut 1s linear both;
    -ms-animation: fadeOut 1s linear both;
    animation: fadeOut 1s linear both
}

@-webkit-keyframes roll {
    0% {
        -webkit-transform: translateX(500px) rotate(360deg)
    }
    100% {
        -webkit-transform: translateX(0) rotate(0)
    }
}

@-moz-keyframes roll {
    0% {
        -moz-transform: translateX(500px) rotate(360deg);
        opacity: 0
    }
    100% {
        -moz-transform: translateX(0) rotate(0);
        opacity: 1
    }
}

@-o-keyframes roll {
    0% {
        -o-transform: translateX(500px) rotate(360deg);
        opacity: 0
    }
    100% {
        -o-transform: translateX(0) rotate(0);
        opacity: 1
    }
}

@-ms-keyframes roll {
    0% {
        -ms-transform: translateX(500px) rotate(360deg);
        opacity: 0
    }
    100% {
        -ms-transform: translateX(0) rotate(0);
        opacity: 1
    }
}

@keyframes roll {
    0% {
        transform: translateX(500px) rotate(360deg);
        opacity: 0
    }
    100% {
        transform: translateX(0) rotate(0);
        opacity: 1
    }
}

@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(40px)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes moveUp {
    0% {
        -moz-transform: translateY(40px)
    }
    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes moveUp {
    0% {
        -o-transform: translateY(40px)
    }
    100% {
        -o-transform: translateY(0)
    }
}

@-ms-keyframes moveUp {
    0% {
        -ms-transform: translateY(40px)
    }
    100% {
        -ms-transform: translateY(0)
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(40px)
    }
    100% {
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes scaleDown {
    0% {
        -webkit-transform: scale(1)
    }
    100% {
        -webkit-transform: scale(.5)
    }
}

@-moz-keyframes scaleDown {
    0% {
        -moz-transform: scale(1)
    }
    100% {
        -moz-transform: scale(.5)
    }
}

@-o-keyframes scaleDown {
    0% {
        -o-transform: scale(1)
    }
    100% {
        -o-transform: scale(.5)
    }
}

@-ms-keyframes scaleDown {
    0% {
        -ms-transform: scale(1)
    }
    100% {
        -ms-transform: scale(.5)
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(.5)
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.form-group {
    margin: 15px 0;
}

.form-group label {
    font-size: 12px;
    display: block!important;
    color: #fff!important;
    font-weight: 400!important;
    text-align: left!important
}

.button,
.contents {
    text-align: center
}
.contents {
	z-index: 10000;
}
.form-group input,
.form-group textarea {
    width: 96%!important;
    padding: 5px 0 5px 10px!important;
    color: #f06b22!important;
    -webkit-text-fill-color: rgba(255, 255, 255, .7)!important;
    border: 1px solid rgba(255, 255, 255, .2)!important;
    background: rgba(255, 255, 255, .1)!important;
    font-weight: 400!important;
    border-radius: 3px!important;
    margin: 5px 0 0!important
}

.button,
.eff {
    width: 200px;
    height: 50px;
    transition: all .5s ease
}

.form-group input:focus,
.form-group textarea:focus {
    outline-color: #f06b22
}

.form-group textarea {
    resize: none
}

.form-group input::placeholder {
    color: #152a44
}

.form-group input::-webkit-input-placeholder {
    color: #152a44
}

.button {
    border: 3px solid #f06b22;
    color: #fff;
    font-size: 1.4em;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 25px auto
}

.button a {
    font-size: 16px;
    color: #f06b22;
    line-height: 20px;
    transition: all .5s ease;
    font-family: 'Open Sans', sans-serif;
    display: block
}

.eff {
    top: -50px;
    background: #f06b22;
    position: absolute;
    z-index: 1
}

.button:hover .eff {
    top: 0
}

.button:hover a {
    color: #fff;
    position: relative;
    z-index: 2
}

.contents {
    position: absolute!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
    right: 15%!important;
    z-index: 12
}

.width70 {
    width: 40%;
    margin-left: 15%
}

.sl-slider-wrapper {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden
}

.sl-content-slice,
.sl-content-wrapper,
.sl-slider {
    position: absolute
}

.sl-slider {
    top: 0;
    left: 0
}

.sl-slide,
.sl-slide-inner,
.sl-slides-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.sl-slide {
    z-index: 1;
}

.sl-content-slice {
    overflow: hidden;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1
}

.sl-slide-horizontal .sl-content-slice {
    width: 50%;
    height: 50%;
    left: -200px;
    -webkit-transform: translateY(0) scale(1);
    -moz-transform: translateY(0) scale(1);
    -o-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1)
}

.sl-slide-horizontal .sl-content-slice:first-child {
    top: -200px;
    padding: 200px 200px 0
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
    top: 50%;
    padding: 0 200px 200px
}

.sl-slide-vertical .sl-content-slice {
    width: 100%;
    height: 100%;
    top: -200px;
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1)
}

.sl-slide-vertical .sl-content-slice:first-child {
    left: -200px;
    padding: 200px 0 200px 200px
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0
}

.sl-content {
    width: 50%;
    height: 100%;
    background: #fff
}

.sl-slide-horizontal .sl-slide-inner {
    background: #ddd
}

.sl-slide-vertical .sl-slide-inner {
    background: #ccc
}

@media screen and (max-width:1024px) {
	
    .contents {
        top: 110%!important;
        left: 50%!important;
        transform: translateY(0) translateX(-50%)!important;
        margin: 0 auto 60px;
        background: #000!important
    }
    .width70 {
        width: 100%!important;
        margin: 0
    }
    img.logo {
        width: 50%
    }
    .sl-slide-inner .message_content small {
        font-size: 11px!important
    }
    .home-slider .sl-slide h2 {
        font-size: 14px!important;
        letter-spacing: 0;
        line-height: 1.5
    }
    .nav-arrows span {
        width: 16px;
        height: 16px
    }
    .home-slider .sl-slide blockquote p {
        font-size: 80%
    }
    .home-slider .sl-slide blockquote p:before {
        width: 30px;
        height: 30px;
        font-size: 120px;
        left: 5px;
        top: 5px
    }
}


/*menu*/

.header {
  position: fixed;
  z-index: 10000;
  max-width: 100vw;
  width: 100vw;
}
.burger {
  position: absolute;
  z-index: 10000;
  right: 50px;
  top: 25px;
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #f06b22;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty:nth-child(2){
	width: 20px;
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  margin: 0;
  padding: 0;
  background: #f06b22;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__brand  {
  background: white;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__brand img{
  -webkit-transform: translate3d(-500px, 0, 0);
          transform: translate3d(-500px, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item {
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active, .menu__brand img.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 15px 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover {
	color: white;
	border-color: transparent;
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
}
.menu__brand img{
     -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
@media screen and (min-width: 600px){
   .burger__patty {
       background: white;
   }
}
@media screen and (max-width: 768px) {
    
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 70vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 30vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu__brand .logo {
    width: 150px;
    height: 150px;
  }
  .logo-menu {
	  width: 120px !important;
	  height: 120px !important;
  }
  .logo-menu img.logo {
      width: 70%;
  }
}
.logo-menu {
	width: 250px;
	height: 250px;
	border:1px solid #f06b22;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
			justify-content: center;
}
.menu__brand a:hover {
	color: white;
	border-color: transparent;
}

/*button*/
.progress-btn {
	position: relative;
	width: 150px;
	height: 50px;
	display: inline-block;
	background: #f06b22;
	color: #fff;
	font-weight: normal;
	font-size: 20px;
    border-radius: 3px;
	transition: all 0.4s ease;
}
.progress-btn:not(.active) {
	cursor: pointer;
}

.progress-btn .btn {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	line-height: 50px;
	text-align: center;
	z-index: 10;
	opacity: 1;
}

.progress-btn .progress {
	width: 0%;
	z-index: 5;
	background: #D32F2F;
	opacity: 0;
	transition: all 0.3s ease;
}
.progress-btn.active .progress {
	opacity: 1;
	animation: progress-anim 10s ease 0s;
}
.progress-btn[data-progress-style='indefinite'].active .progress {
	animation: progress-indefinite-anim 1s infinite linear 0s;
}
.progress-btn[data-progress-style='fill-bottom'].active .progress, .progress-btn[data-progress-style='fill-top'].active .progress {
	height: 5px;
}
.progress-btn[data-progress-style='indefinite-circle'].active .progress {
	animation: dash 2s ease infinite,
	           rotate 2s linear infinite;
}

.progress-btn[data-progress-style='indefinite-circle'].active {
	width: 50px;
}

.progress-btn[data-progress-style='fill-back'] .progress {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.progress-btn[data-progress-style='fill-bottom'] .progress {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0;
}
.progress-btn[data-progress-style='fill-top'] .progress {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 0;
}
.progress-btn[data-progress-style='indefinite'] .progress {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'50'%20height%3D'100'%20viewBox%3D'0%200%205%2010'%3E%0A%09%3Crect%20width%3D'110%25'%20x%3D'-5%25'%20y%3D'-5%25'%20height%3D'110%25'%20fill%3D'transparent'%2F%3E%0A%09%3Cline%20x1%3D'-2'%20y1%3D'1'%20x2%3D'7'%20y2%3D'10'%20stroke%3D'%23D32F2F'%20stroke-width%3D'2'%2F%3E%0A%09%3Cline%20x1%3D'-2'%20y1%3D'6'%20x2%3D'7'%20y2%3D'15'%20stroke%3D'%23D32F2F'%20stroke-width%3D'2'%2F%3E%0A%09%3Cline%20x1%3D'-2'%20y1%3D'-4'%20x2%3D'7'%20y2%3D'5'%20stroke%3D'%23D32F2F'%20stroke-width%3D'2'%2F%3E%0A%3C%2Fsvg%3E");
}
.progress-btn[data-progress-style='indefinite-circle'] .progress {
	width: 40px;
	height: 40px;
	background: transparent;
	position: absolute;
	top: 5px;
	left: calc(50% - 20px);
}
.progress-btn[data-progress-style='indefinite-circle'].active .btn {
	opacity: 0;
}

.circle-loader {
	fill: transparent;
	stroke: #eee;
	stroke-width: 5;
}




@keyframes dash {
	0% {
		stroke-dasharray: 1,95;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 85,95;
		stroke-dashoffset: -25;
	}
	100% {
		stroke-dasharray: 85,95;
		stroke-dashoffset: -93;
	}
}

@keyframes rotate {
	0% {transform: rotate(0deg); }
	100% {transform: rotate(360deg); }
}

@keyframes progress-anim {
	0% {
		width: 0%;
	}
	5% {
		width: 0%;
	}
	10% {
		width: 15%;
	}
	30% {
		width: 40%;
	}
	50% {
		width: 55%;
	}
	80% {
		width: 100%;
	}
	95% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}

@keyframes progress-indefinite-anim {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

